* {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html { 
    background: url('ichiraku-bg.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
}


nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#home-tab {
    flex: 1;
    width: max(50%, 300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 50px;
    gap: 50px;
    padding: 40px;
}

#menu-tab {
    flex: 1;
    width: max(50%, 300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 50px;
    gap: 50px;
    padding: 40px;
}

.dish img {
    width: 200px;
    height: 200px;
}

.dish {
    width: max(40%, 300px);
    display: flex;
}

button {
    background-color: none;
    font-size: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

footer {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

p {
    font-size: 20px;
}

h2 {
    font-size: 30px;
}